<div class="container">
    <div class="row">
        <app-search-pokemon></app-search-pokemon>
        <div class="col s6 m4" *ngFor="let pokemon of pokemonList">
            <div class="card horizontal" (click)="goToPokemon(pokemon)" pkmnBorderCard>
                <div class="card_image">
                    <img [src]="pokemon.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name}}</p>
                        <p><small>{{ pokemon.created | date: "dd/MM/yyyy" }}</small></p>
                        <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 *ngIf='!pokemonList' class="center">
    <app-loader></app-loader>
</h2>

<a class="btn-floating btn-large waves-effect waves-light red z-depth-3" style="position: fixed; bottom:25px; right: 25px;" routerLink="/pokemon/add">
    <img src="https://cdn3.emoji.gg/emojis/pokeball.png" width="64px" height="64px" alt="pokeball">
</a>