
@{
    ViewBag.Title = "ErreurNotAdm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <h2>
            Vous n'avez pas accés à cette fonction<br />
            vous devez vous connecter en tant qu'administrateur
        </h2>
    </div>
</body>
