<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" th:href="@{css/MainStyleCinemArt.css}">
<title>Cinemart, la plateforme de financement participatif des
	projets audiovisuels!</title>
</head>
<body>
	<!--  <div th:replace="head :: myHead"></div>-->
	<header>
		<div th:replace="headerAdministration :: myHeaderAdmin"></div>
	</header>
	<h1 class="corpsInformations adminTitle">Message en attente de
		reponse :</h1>
	<div id="corpsProjets" class="corpsOnglets">
		<div th:each="discussions : ${listeMessagesOpen}">
			<table class="tableProjets">
				<caption
					th:text="${discussions.utilisateur.pseudo + ' Statut discussion = ' + discussions.statutDiscussion}"></caption>
				<tr>
					<th>Intitulé</th>
					<th>Message</th>
				</tr>
				<tr th:each="message : ${discussions.messagesSupport}">
					<td th:text="${message.intitule}"></td>
					<td th:text="${message.message}"></td>
				</tr>
				<tr>
					<th colspan="2">Repondre</th>
				</tr>
				<tr>
					<form method="post" th:action="@{'http://localhost:8080/repondreAdmin?idDiscussion=' + ${discussions.idSupportDiscussion}}">
						<td><input name="reponse" type="text" /></td>
						<td><input type="submit" /></td>
					</form>
				</tr>
				</div>
			</table>
		</div>
	</div>
	<footer>
		<div th:replace="footer :: myFooter"></div>
	</footer>
</body>
</html>