<!DOCTYPE HTML>
<html>
<head>
<title>CINEM'ART - plate-forme de collecte de fonds pour des
	cinéastes</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
	<!-- Footer -->
	<footer th:fragment="myFooter" id="footer">
		<div class="inner">
			<div class="flex flex-3">
				<div class="col">
					<h3>Financer un projet</h3>
					<ul class="alt">
						<li><a href="/dev">Réussir sa collecte</a></li>
						<li><a href="/dev">Nos fonctionnalités</a></li>
						<li><a href="financementParticipatif">Le financement
								participatif</a></li>
						<li><a href="/faq">Vos questions fréquentes</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>Nous contacter</h3>
					<ul class="alt">
						<li><a href="#">Accédez à notre messagerie</a></li>
						<li>Adresse: 33, Rue du Cinéma 75001 PARIS</li>
						<li>Numéro: 01 16 03 20 21</li>
						<li><a href="#">Réclamations</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>A propos de Cinem'Art</h3>
					<ul class="alt">
						<li><a href="/dev">Newsletters</a></li>
						<li><a href="/dev">Nos valeurs</a></li>
						<li><a href="team">L'équipe</a></li>
						<li><a href="/engagements">Nos engagements</a></li>
						<li><a href="/cgu">Conditions générales</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
			<ul class="icons">
				<li><a href="https://twitter.com/CinemArt9" target="_blank"
					class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/CinemArt-110553351107995"
					target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/cinemart.cf/"
					target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-snapchat"><span
						class="label">Snapchat</span></a></li>
			</ul>
			&copy; CINEM'ART 2021. <br /> Cinem'Art est une plateforme de
			financement participatif régulée par les autorités françaises.
			Immatriculation : 14002021.
		</div>
	</footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>