<!DOCTYPE HTML>
<html>
	<head>
		<title>CINEM'ART - plate-forme de collecte de fonds pour des cinéastes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header" style="height: 75px;">
			<!-- <div class="container" style="height: 30px;">
					<img src="images/C ART_LogoYellow.png">
				</div> -->
				<h1><a href="#"><span id="cinemart">CINEM'ART</span></a></h1>
				<div style="width: 334px; text-align: center; margin-left: 750px;" >
					<label for="site-search"></label>
					<input type="search" id="site-search" name="q" aria-label="Search through site content">
					<a href="#main" class="button big alt scrolly" style="font-size: 0.9em; height: 39px;">Recherche</a>
 				</div>
				<a href="#menu">Menu</a>
<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="generic.html">Connexion/Inscription</a></li>
					<li><a href="elements.html"> Jeter un œil sur les projets</a></li>
					<li><a href="elements.html"></a></li>
				</ul>
			</nav>
			</header>
		
			
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Financer un projet</h3>
							<ul class="alt">
								<li><a href="#">Réussir sa collecte</a></li>
								<li><a href="#">Nos fonctionnalités</a></li>
								<li><a href="#">Le financement participatif</a></li>
								<li><a href="#">Vos questions fréquentes</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Nous contacter</h3>
							<ul class="alt">
								<li><a href="#">Accédez à notre messagerie</a></li>
								<li> Adresse: 33, Rue du Cinéma 75001 PARIS</li>
								<li> Numéro: 01 16 03 20 21</li>
								<li><a href="#">Réclamations</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>A propos de Cinem'Art</h3>
							<ul class="alt">
								<li><a href="#">Newsletters</a></li>
								<li><a href="#">Nos valeurs</a></li>
								<li><a href="#">L'équipe</a></li>
								<li><a href="#">Nos engagements</a></li>
								<li><a href="#">Conditions générales</a></li>
								
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; CINEM'ART 2021. <br />
					Cinem'Art est une plateforme de financement participatif régulée par les autorités françaises.
Immatriculation : 14002021.
				</div>
			</footer>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>