<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{css/MainStyleCinemArt.css}">
<link href="/docs/5.0/assets/css/docs.css" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" th:href="@{css/MainStyleCinemArt.css}">


<title>Cinemart, la plateforme de financement participatif des
	projets audiovisuels!</title>

<script src="/assets/js/ie/respond.min.js"></script>
<script src="script.js"></script>
<script async src="/assets/js/bundle.js?ver=146"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	type=""></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
	type=""></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</head>

<!-- Header -->
<header>
	<div th:replace="header :: myHeader"></div>
</header>

<body>

	<div class="container">
		<br /> <br /> <br /> <br></br>

		<div class=" text-center">
			<div class="card-header lead">
				<h2>Nos engagements</h2>
			</div>
			<div class="card-title">
				<h3>Une plateforme sociale et solidaire utile à tout le secteur
					audiovisuel indépendant</h3>
			</div>
			<div class="card-body">
				<p class="card-text lead">Nous sommes une entreprise sociale et
					solidaire au service des créateurs indépendants, convaincue de longue date
					que ceux-ci sont le futur de notre 7e Art. Depuis 2020,
					nous construisons des technologies de paiement qui permettent aux
					céateurs et aux petites productions cinematographiques de gagner un temps précieux dans
					l’organisation de leurs activités. Pour être utiles au plus grand
					nombre, nous avons pris la décision de ne pas faire payer l’usage
					de nos technologies : elles sont donc accessibles gratuitement,
					sans frais ni commission.</p>
			</div>
			<br>
			<div class="card-title">
				<h3>Un modèle gratuit pour être accessibles au plus grand
					nombre</h3>
			</div>


			<div class="card-body">
				<p class="card-text lead">Pour demeurer à la portée d’un maximum
					d'indépendants, nous avons fait le choix de rester intégralement
					gratuits. Afin d’améliorer les technologies de paiement que nous
					construisons, et l’accompagnement que nous mettons en place pour
					les créateurs", nous proposons aux particuliers de faire de la publicité pour la plateforme au moment de leur paiement.
					Dans un cas sur deux, les particuliers décident de soutenir notre
					modèle alternatif. Leurs soutiens financiers constituent notre
					unique source de revenus. Ils rendent possible notre intervention
					auprès de nombreux créateurs et le fait de salarier toute
					une équipe de production.</p>
			</div>


			<br>
			<div class="card-title">
				<h3>Un modèle gratuit pour être accessibles au plus grand
					nombre</h3>
			</div>
			<div class="card-body">
				<p class="card-text lead">Pas besoin d’être informaticien, ni
					graphiste, chacun peut lancer simplement et en quelques minutes les
					formulaires de paiement pour son association.</p>
			</div>

			<br>
			<div class="card-title">
				<h3>Une équipe qui vous accompagne</h3>
			</div>
			<div class="card-body">
				<p class="card-text lead">Besoin d’une réponse ou d’un conseil ?
					Notre équipe est là pour vous accompagner par téléphone ou e-mail.</p>
				<a type="button" class="button big alt"
					href="http://localhost:8080/team">Découvrir l'équipe</a>
			</div>
		</div>

	</div>
	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

<!-- Footer -->
<footer>
	<div th:replace="footer :: myFooter"></div>
</footer>
</html>