<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{css/MainStyleCinemArt.css}">
<link href="/docs/5.0/assets/css/docs.css" rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" th:href="@{css/MainStyleCinemArt.css}">
<title>Cinemart, la plateforme de financement participatif des
	projets audiovisuels!</title>
<script src="/assets/js/ie/respond.min.js"></script>
<script src="script.js"></script>
<script async src="/assets/js/bundle.js?ver=146"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	type=""></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
	type=""></script>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<!-- Header -->
<header>
	<div th:replace="header :: myHeader"></div>
</header>
<body>
	<div class="container">
		<br /> <br /> <br /> <br></br>
		<div class="py-5 team4">
			<div class="container">
				<div class="row justify-content-center mb-4">
					<div class="col-md-7 text-center">
						<h3 class="mb-3">Une équipe de choc..... Pour un style léger
							et professionel :lunettes_de_soleil:</h3>
						<h5 class="subtitle">"Notre équipe allie synergie et
							créativité pour surmonter les difficultés tout en atteignant ses
							objectifs en terme de qualité & d'originalité"</h5>
					</div>
				</div>
				<br> <br>
				<div class="row">
					<!-- column  -->
					<div class="col-lg-4 mb-4">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12">
								<img src="http://localhost:8080/images/photoJb.jpg"
									alt="wrapkit" class="img-fluid rounded-circle" />
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Jean-Baptiste
										Petit</h5>
									<h6 class="subtitle mb-3">The MasterMind</h6>
									<ul class="list-inline">
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:facebook"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:twitter"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="cib:instagram"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a
											href="https://www.linkedin.com/in/jean-baptiste-petit-46809aa8/"
											target="_blank" class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="brandico:linkedin-rect"
												data-inline="false"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
					<!-- column  -->
					<!-- column  -->
					<div class="col-lg-4 mb-4">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12">
								<img
									src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
									alt="wrapkit" class="img-fluid rounded-circle" />
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Amira</h5>
									<h6 class="subtitle mb-3">The Com' Specialist</h6>
									<ul class="list-inline">
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:facebook"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:twitter"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="cib:instagram"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a
											href="https://www.linkedin.com/in/amira-bouflija-75a105113/"
											target="_blank" class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="brandico:linkedin-rect"
												data-inline="false"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
					<!-- column  -->
					<!-- column  -->
					<div class="col-lg-4 mb-4">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12">
								<img
									src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg"
									alt="wrapkit" class="img-fluid rounded-circle" />
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Michael Moison</h5>
									<h6 class="subtitle mb-3">The Researcher</h6>
									<ul class="list-inline">
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:facebook"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:twitter"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="cib:instagram"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a
											href="https://www.linkedin.com/in/micha%C3%ABl-moison/"
											target="_blank" class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="brandico:linkedin-rect"
												data-inline="false"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
					<!-- column  -->
					<!-- column  -->
					<div class="col-lg-6 mb-4">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12 text-center">
								<img
									src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
									alt="wrapkit" class="img-fluid rounded-circle" />
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Maria Barkhatova</h5>
									<h6 class="subtitle mb-3">The Css bible</h6>
									<ul class="list-inline">
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:facebook"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:twitter"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="cib:instagram"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="brandico:linkedin-rect"
												data-inline="false"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
					<div class="col-lg-6 mb-4">
						<!-- Row -->
						<div class="row">
							<div class="col-md-12 text-center">
								<img
									src="http://localhost:8080/images/ImageThomas.jpg"
									alt="wrapkit" class="img-fluid rounded-circle" />
							</div>
							<div class="col-md-12 text-center">
								<div class="pt-2">
									<h5 class="mt-4 font-weight-medium mb-0">Thomas Deloffre</h5>
									<h6 class="subtitle mb-3">The AllRounder</h6>
									<ul class="list-inline">
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:facebook"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="feather:twitter"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a href="#"
											class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="cib:instagram"
												data-inline="false"></span></a></li>
										<li class="list-inline-item"><a
											href="https://www.linkedin.com/in/thomas-deloffre-b20bb6206/"
											target="_blank" class="text-decoration-none d-block px-1"><span
												class="iconify" data-icon="brandico:linkedin-rect"
												data-inline="false"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Row -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Option : Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer>
	<div th:replace="footer :: myFooter"></div>
</footer>
</html>